<div id = "about-overlay-title">
  <p id = "about-overlay-title-text">
  Make Music and Art <br>with Machine Intelligence
  </p>
</div>
{{#if mediaQueries.isXs}}
<div></div>
{{else}}
<div id = "about-overlay-desc">
  <p id = "about-overlay-desc-text">
    The mimic project offers a way to make
     new kinds of music, sound and creative
     arts experiences using machine learning,
     machine listening and artificial
     intelligence.
  </p>
  <div id = getting-started-container>
  <a id = "getting-started-link" href = {{docURL}}> Getting Started → </a>
  </div>
</div>
{{/if}}
