<h1> Audio Triggers Project </h1>
<p class = "tutorial-text">
  Here we use the onser detector from Nick Collin's MMLL.js to try and build a percussive sound classifier to mix some music tracks. We use a window around the onset for each example in your dataset, recording the spectral centroid. If you find the onset detector is trggering too much or not enough, use the threshold slider at the bottom to adjust.
</p>
{{embedded-project docId = "585ecea5-4841-6ae5-a8c1-4a0ddb8975fd" width="250px" height="800px"}}
