<div role = "button" tabIndex = "0" class="uncharted-token-label">{{token}}
{{#if canDelete}}
  {{#bs-button role = "button" tabIndex = "0" class = "tag-delete-btn"
  onClick=(action 'onDelete')
  icon="glyphicon glyphicon-remove"}}
  {{/bs-button}}
{{/if}}
</div>
<div class="uncharted-token-actions">
    <span class="fa fa-times uncharted-remove-action" {{action 'removeToken'}}></span>
</div>
