<video width="800" height="680" controls>
 <source src={{concat url "/images/colab_scaled.mp4"}} type="video/mp4">
</video>
<br>
<p class = "tutorial-text">
MIMIC documents now allow for <strong>Collaborative Editing</strong>. This means multiple users can edit a document simultaneously in <strong>real time, changing and re-evaluating code on the fly</strong>.
</p>
<br>
<h3>Adding Collaborators</h3>
<p class = "tutorial-text">
You can add collaborators to one of your documents by going to Settings (cog in the top menu bar), ticking “Collaborative”, then adding the username of anyone you want to collaborate.
</p>
<br>
<img src = {{concat url "/images/add_colab.gif"}}/>
<br>
<br>
<h3>Realtime updates</h3>
<p class = "tutorial-text">
You will now see each others changes in real time! As one user updates their document on the left, the changes are automatically updated onto another collaborators document on the right in real time.
</p>
<br>
<img src = {{concat url "/images/two_codes.gif"}}/>
<br>
<h3>Re-evaluating Code</h3>
<p class = "tutorial-text">
You will also receive each others re-evaluations of code on the fly (Cmd+enter/Ctrl+Enter). Great for Live Code jamming.
</p>
<br>
<br>
<img src = {{concat url "/images/edit.gif"}}/>
<br>
<br>
