<div class = "col-md-3 document-list-item" {{action 'open'}}>
  {{#link-to "code-editor" document.documentId class='document-link'}}{{document.name}} {{/link-to}}
  by {{document.owner}}
  {{#if document.readOnly}}
  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
  {{/if}}
</div>
