<iframe class = "embedded-tutorial-code" src={{srcURL}} allow="microphone" scrolling="no" style="width: 100%; height: {{height}}; overflow: hidden;">what?</iframe>
<a class = "embedded-link" href = {{concat url "/code/" docId}}>Open Project</a>
