<iframe class = "embedded-tutorial-code" src={{concat url "/code/" docId "?embed=true&showCode=true"}} allow="microphone" scrolling="no" style="width: 100%; height: {{height}}; overflow: hidden;">what?</iframe>
<a href = {{concat url "/code/" docId}}>Open Project</a>
