<h1>Use A Magenta Model to Rewrite the Mario Theme</h1>
<p class = "tutorial-text">
  As Magenta's RNN models are good for continuing sequences, we decided to see if it could make an improvement on a classic. This project is also an interetsing one to check out if you want to get Magenta working with Charlie Robert's Gibber library.
</p>
{{embedded-project docId = "a8baea19-711f-4e43-46ab-71e5212ed5db" width="250px" height="650px"}}
