<div id='mimic-footer' class='blur-background'>
  <p id='footer-copyright'>© Acclerate 2022</p>
  <img alt='u a l logo' src={{concat url '/images/4-UAL-cropped.png'}} />
  <img alt='accelerate logo' src={{concat url '/images/accelerate-logo-cropped.png'}} />
  <a class='footer-link' href={{concat ur '/terms'}}>Terms and Conditions</a>
</div>
