<div id = "mimic-footer">
  <table id = "footer-table">
    <tr>
      <td id = "footer-contact">
        <a class = "footer-link" href = "mailto:l.mccallum@gold.ac.uk">Contact</a>
      </td>
      <td>
        <p id = "footer-copyright">© MIMIC Project 2019</p>
      </td>
      <td id = "footer-terms">
        <a class = "footer-link" href = {{concat ur "/terms"}}>Terms and Conditions</a>
      </td>
    </tr>
  </table>
</div>
