<p class = "side-menu-label">code player</p>
<div class="tooltip">
  <span class="tooltiptext">Rewind to Beginning</span>
  {{#bs-button class = "clear-btn " icon="glyphicon glyphicon-fast-backward" onClick=(action 'rewind')}}{{/bs-button}}
</div>
<div class="tooltip">
  {{#bs-button class = "clear-btn " icon="glyphicon glyphicon-backward" onClick=(action 'prev')}}{{/bs-button}}
  <span class="tooltiptext">Step Back</span>
</div>
<div class="tooltip">
  {{#if isPlaying}}
    {{#bs-button class = "clear-btn " id = "ops-play-btn" icon="glyphicon glyphicon-pause" onClick=(action 'pause')}}{{/bs-button}}
  {{else}}
    {{#bs-button class = "clear-btn " id = "ops-play-btn" icon="glyphicon glyphicon-play" onClick=(action 'play')}}{{/bs-button}}
  {{/if}}
  <span class="tooltiptext">Play to End / Pause</span>
</div>
<div class="tooltip">
  {{#bs-button class = "clear-btn" icon="glyphicon glyphicon-forward" onClick=(action 'next')}}{{/bs-button}}
  <span class="tooltiptext">Step Forwards</span>
</div>
