<div class = "project-tabs">
  {{#bs-button class = "add-file-button"
    icon="glyphicon glyphicon-plus"
    onClick=(action 'createNewDocument')}}
  {{/bs-button}}
  <div class = "container-fluid">
    <div class = "row">
      {{tab-item document=parent  onSelect = onSelect}}
      {{#each tabs as |tab index|}}
        {{tab-item document=tab  onSelect = onSelect}}
      {{/each}}
    </div>
  </div>
</div>
