<div id = "project-tabs">
  <table>
   <tr>
    <th>
      {{tab-item name=parent.name
        id=parent.id
        isSelected = parent.isSelected
        tabIndex = -1
        onSelect = onSelect
        onDelete = onDelete
        canDelete = false}}
    </th>
    {{#each tabs as |tab index|}}
    <th>
      {{tab-item name=tab.name
        id=tab.id
        isSelected = tab.isSelected
        tabIndex = index
        onSelect = onSelect
        onDelete = onDelete
        canDelete = tab.canDelete
      }}
    </th>
    {{/each}}
   </tr>
 </table>
</div>
