<div id = "project-tabs">
  <table>
   <tr>
    <th>
      {{tab-item name=parent.name
        id=parent.id
        onSelect = onSelect
        onDelete = onDelete
        canDelete = false}}
    </th>
    {{#each tabs as |tab index|}}
    <th>
      {{tab-item name=tab.name
        id=tab.id
        onSelect = onSelect
        onDelete = onDelete
        canDelete = tab.isSelected
      }}
    </th>
    {{/each}}
    <th>
      {{#bs-button class = "add-file-button"
        icon="glyphicon glyphicon-plus"
        onClick=(action 'createNewDocument')}}
      {{/bs-button}}
    </th>
   </tr>
 </table>
</div>
