<div class = "project-tab">
  {{#bs-button class = "add-file-button"
    icon="glyphicon glyphicon-plus"
    onClick=(action 'createNewDocument')}}
  {{/bs-button}}
  {{#each tabs as |tab index|}}
    {{tab-item document=tab  onSelect = onSelect}}
  {{/each}}
</div>
