<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
<script>
  hljs.initHighlightingOnLoad();
</script>
<p class = "tutorial-text">
  This page provides a minimal guide on how to use the RapidLib.
</p>

<p class = "tutorial-text">The guide shows how to use simple machine learning objects in five steps.</p>

<p class = "tutorial-text">The guide also shows two simple examples of applied Machine Learning tasks.</p>

<h2>1. Add RapidLib to your HTML page </h2>

<p class = "tutorial-text">First, to install RapidLib you need to include it in your HTML page using the HTML <span style="font-family: 'Courier New', Courier, monospace;">&lt;script&gt;</span> tag.</p>

<div class='snippet'>
  <pre>
    <code class="javascript">
        // Just include this script tag in your HTML page

        &lt;script src="RapidLib.js"&gt;&lt;&#47;script&gt;
    </code>
  </pre>
</div>

<p class = "tutorial-text">Now you have the RapidLib module available on the Javascript global scope.</p>

<h2>2. Load RapidLib to create a Machine Learning object</h2>

<p class = "tutorial-text">Use <span style="font-family: 'Courier New', Courier, monospace;">RapidLib()</span> to load the RapidLib module into a variable. That variable will give you access to the Machine Learning objects that RapidLib provides.</p>

<div class='snippet'>
  <pre>
      <code class="javascript">
        var rapidLib = RapidLib();

        var myRegression            = new rapidLib.Regression();

        var myClassification        = new rapidLib.Classification();

        var mySeriesClassification  = new rapidLib.SeriesClassification();
      </code>
    </pre>
</div>

<p class = "tutorial-text">RapidLib provides constructors to three main objects: <span style="font-family: 'Courier New', Courier, monospace;">Regression</span>, <span style="font-family: 'Courier New', Courier, monospace;">Classification</span> and <span style="font-family: 'Courier New', Courier, monospace;">SeriesClassification</span>.</p>

<p class = "tutorial-text">You can apply each one of these objects to a specific Machine Learning task.</p>

<h2>3. Create a data set </h2>

<p class = "tutorial-text">To apply a Machine Learning task such as training a <strong>regression</strong> model, you need data and a data
  structure that holds it&mdash;this is usually called a <strong>data set</strong>.</p>

<p class = "tutorial-text">The <span style="font-family: 'Courier New', Courier, monospace;">Regression</span> and <span style="font-family: 'Courier New', Courier, monospace;">Classification</span> objects expect a
  certain structure from a <strong>data set</strong> object, as you can see in the example below.
</p>

<div class='snippet'>
  <pre>
      <code class="javascript">
        var myData = [
          {
            input:  [48],
            output: [130.81]
          },
          {
            input:  [54],
            output: [185.00]
          },
          {
            input:  [60],
            output: [261.63]
          },
          {
            input:  [66],
            output: [369.994]
          },
          {
            input:  [72],
            output: [523.25]
          }
        ];
      </code>
    </pre>
</div>

<p class = "tutorial-text"><span style="font-family: 'Courier New', Courier, monospace;">myData</span> is a <strong>data set</strong> that contains a list of objects. Each of these
objects is an <strong>example</strong> that contains a list of <strong>inputs</strong> matched to a list of desired
<strong>outputs</strong>.</p>

<div class='note'>
  <h3><strong>Note:</strong></h3>
  <ul>
  <li><p class = "tutorial-text"><span style="font-family: 'Courier New', Courier, monospace;">myData</span> is implemented as a Javascript Array containing <strong>examples</strong>
    that are implemented as Javascript objects.</p></li>
  <li><p class = "tutorial-text">Both <span style="font-family: 'Courier New', Courier, monospace;">input</span> and <span style="font-family: 'Courier New', Courier, monospace;">output</span> are
    implemented as Javascript Arrays, although the examples in <span style="font-family: 'Courier New', Courier, monospace;">myData</span> match one input
    to one output.</p></li>
  <li><p class = "tutorial-text">You need to make sure that the number of inputs and outputs <strong>remain constant</strong> for the data sets of
    a specific Machine Learning object.</p></li>
  </ul>
</div>

<h2>4. Train a Machine Learning object with a data set </h2>

<p class = "tutorial-text">To train a Machine Learning object, for instance a <strong>regression</strong> object called <span style="font-family: 'Courier New', Courier, monospace;">myRegression</span>, you can use the <span style="font-family: 'Courier New', Courier, monospace;">train()</span> method that accepts a
<strong>data set</strong> object.</p>

<div class='snippet'>
  <pre>
    <code class="javascript">
      myRegression.train(myData);
    </code>
  </pre>
</div>

<p class = "tutorial-text">Note that the <span style="font-family: 'Courier New', Courier, monospace;">train()</span> method is synchronous and that, to complete, it takes a
 proportional amount of time to the size of your training data set.</p>

<h2>5. Run a trained Machine Learning object on new data</h2>

<p class = "tutorial-text">Once your <strong>regression</strong> object is trained, you can run it on new data and get the results of the
 learned model. </p>

<div class='snippet'>
   <pre>
      <code class="javascript">
        var newInput = [64];

        var output = myRegression.run(newInput);
      </code>
    </pre>
</div>

<p class = "tutorial-text">You can either decide to re-train your <strong>regression</strong> object to improve how it works, or to terminate the process.</p>

<hr>

<h2>Hello World!</h2>

<p class = "tutorial-text">The next code snippet puts everything together in a simple but complete example.</p>

<p class = "tutorial-text">Here we apply the RapidLib to a real machine learning task, training a regression model that converts MIDI values to frequency values.</p>

<div class='snippet'>
   <pre>
     <code class="javascript">
      &lt;!DOCTYPE html&gt;
      &lt;html&gt;
      &lt;head&gt; &lt;/head&gt;
      &lt;body&gt; &lt;/body&gt;
      &lt;script src="RapidLib.js"&gt; &lt;&#47;script&gt;

      &lt;script&gt;

        var rapidLib = RapidLib();

        //Create a machine learning object for regression
        var midiToFrequencyRegression = new rapidLib.Regression();

        //Create a Javascript object to hold your training data
        var myData = [
          {
            input:  [48],
            output: [130.81]
          },
          {
            input:  [54],
            output: [185.00]
          },
          {
            input:  [60],
            output: [261.63]
          },
          {
            input:  [66],
            output: [369.994]
          },
          {
            input:  [72],
            output: [523.25]
          }
        ];


        //Train a machine learning model with the data
        midiToFrequencyRegression.train(myData);

        //Create a new input to test the model
        var newInput = [64];

        //Run the trained model on the new input
        var freqHz = midiToFrequencyRegression.run(newInput);

        console.log(freqHz); // outputs 333.713, the value of the frequency in Hz

      &lt;&#47;script&gt;
      &lt;/html&gt;
      </code>
    </pre>
 </div>

<p class = "tutorial-text">Note that in this example, the variable keeping the <strong>regression</strong> object here is named <span style="font-family: 'Courier New', Courier, monospace;">midiToFrequencyRegression</span>.</p>

<p class = "tutorial-text">The model trained with four examples in the <span style="font-family: 'Courier New', Courier, monospace;">myData</span> data set converts MIDI values
  to Frequency values, within the specified range.</p>



<hr>

<h2>Let's go interactive now!</h2>

<p class = "tutorial-text">This example is interactive and just a little bit more elaborate.</p>


<p class = "tutorial-text">
{{embedded-project docId = "a01f1f63-ddbc-3c77-ba73-d58606a7649e" width="250px" height="320px"}}
</p>

<p class = "tutorial-text">If you look more closely, there are a few things going on here:</p>

<ul>
  <li><p class = "tutorial-text">Your mouse pointer location as a source of real-time data! Mouse coordinates X and Y are normalised to relative values between <strong>0</strong> and <strong>1</strong> (i.e. a percentage of the canvas dimensions).</p></li>

  <li><p class = "tutorial-text">The training data set maps this range of mouse coordinates values as <strong>inputs</strong> to values of <strong>XOR function</strong> truth table as outputs! Pretty neat, huh!</p></li>

  <li><p class = "tutorial-text">The same data set is training two different types! So now you can see the differences. The first one is a <strong>classification</strong> model and outputs discrete values (integers). The second model does <strong>regression</strong> and outputs <strong>continuous</strong> values (floating point).</p></li>
</ul>

<p class = "tutorial-text">You may be wondering now how these simple objects and learning can build really interesting things!</p>

<h2>If you want MOAR...</h2>
<p class = "tutorial-text">If you'd like to have a deeper exploration of Machine Learning concepts, check out the ``Machine Learning for Musicians and Artists`` guide.</p>
<p class = "tutorial-text">There you can get your hands on more examples of RapidLib that apply an Interactive Machine Learning workflow!</p>
