<div id = "share-modal">
<label for="edit-link">Editable Link</label>
{{input class = "link-input" value=options.editLink type="form-control" id="edit-link" name="edit-link"}}
<label for="display-link">Just Display Link</label>
{{input class = "link-input" value=options.displayLink type="form-control" id="display-link" name="display-link"}}
<label for="embed-link">Embed Link</label>
{{input class = "link-input" value=options.embedLink type="form-control" id="embed-link" name="embed-link"}}
</div>
