<div id='about-container'>
  <div
    class='center-cropped'
    style="background-image: url('{{concat url "/Stars-2-2014.jpg"}}');"
  >
  </div>
  {{about-description}}
  <div id='logo-footer'>
    <div id='logo-container'>
      <div class='row'>
        <div class='col-md-2 col-sm-4 footer-logo-cell'>
          <img
            class='footer-logo-img'
            alt='u a l logo'
            id='ual-logo'
            src={{concat url '/4-UAL.png'}}
          />
        </div>
      </div>
    </div>
  </div>
</div>
