<div id = "main-site-container">
  {{main-navigation onLogin='transitionToLoginRoute'
  onAbout='transitionToAboutRoute'
  onDocs='transitionToDocsRoute'
  onExamples='transitionToExamplesRoute'
  onGuides='transitionToGuidesRoute'
  onGettingStarted='transitionToGSRoute'
  openDoc=(action 'transitionToDoc')
  openGuide=(action 'transitionToGuide')}}
  <div>
    {{outlet}}
    {{modals-container}}
  </div>
</div>
