<div id = "main-site-container">
  {{main-navigation onLogin='transitionToLoginRoute' onAbout='transitionToAboutRoute' onDocs='transitionToDocsRoute' onTerms='transitionToTermsRoute' openDoc=(action 'transitionToDoc')}}
  <div>
    {{outlet}}
    {{modals-container}}
  </div>
</div>
