{{main-navigation onLogin='transitionToLoginRoute' onHome='transitionToIndexRoute' openDoc=(action 'transitionToDoc') model = model}}
<div class="container" style = "padding-top: 10px;">
  {{outlet}}
</div>
