<div class = "container-fluid" id = "main-site-container">
  {{main-navigation onLogin='transitionToLoginRoute' onHome='transitionToIndexRoute' openDoc=(action 'transitionToDoc')}}
  <div style = "display:inline;">
    {{outlet}}
    {{modals-container}}
  </div>
</div>
