<div id = "main-site-container">
  {{main-navigation onLogin='transitionToLoginRoute' onHome='transitionToIndexRoute' openDoc=(action 'transitionToDoc')}}
  <div>
    {{outlet}}
    {{modals-container}}
  </div>
</div>
