<div class="gradient-background"></div>
<div id = "main-site-container">
  {{main-navigation onLogin=(action 'transitionToLoginRoute')
  onHome=(action 'transitionToHomeRoute')
  onAbout=(action 'transitionToAboutRoute')
  onPeople=(action 'transitionToPeopleRoute')
  onDocs=(action 'transitionToDocsRoute')
  onExamples=(action 'transitionToExamplesRoute')
  onInputs=(action 'transitionToInputsRoute')
  onOutputs=(action 'transitionToOutputsRoute')
  onGuides=(action 'transitionToGuidesRoute')
  onGettingStarted=(action 'transitionToGSRoute')
  openDoc=(action 'transitionToDoc')
  openUserDocs=(action 'transitionToUserDocs')
  openGuide=(action 'transitionToGuide')
  onCreateDoc=(action 'transitionToNewestDoc')}}
  <div>
    {{outlet}}
    {{modals-container}}
  </div>
  {{mimic-footer}}
</div>
