<div>
{{file-upload}}
{{#each model.assets as |asset|}}
  {{asset.name}}
{{/each}}
</div>
<div style = "float:left;">
  <iframe srcdoc={{renderedSource}} width='100%' height=300></iframe>
</div>
<div>
{{ember-ace lines=30 value=value ready=(action 'editorReady')}}
</div>
