<div class = "limited-width-container" style = "font-size:16px padding:2px;margin-top:2px;">
<h2><strong>Participant Information Sheet for users of the MIMIC Platform</strong></h2>

<h2><strong>Title of the research study: MIMIC Futurelearn Survey</strong></h2>

<p>Dr Louis McCallum</p>
<p><a href="mailto:l.mccallum@gold.ac.uk">l.mccallum@gold.ac.uk</a></p>

<p>Dr Rebecca Fiebrink</p>
<p><a href="mailto:r.feibrink@gold.ac.uk">r.feibrink@gold.ac.uk</a></p>

<p>Dr Matthew Yee-King</p>
<p><a href="mailto:m.yeeking@gold.ac.uk">m.yeeking@gold.ac.uk</a></p>

<p><strong>ALL:</strong></p>
<p>Goldsmiths, University of London<br /> New Cross<br /> London<br /> SE14 6NW<br /> UK</p>

<p><em>You are being invited to take part in a research study. Before you decide whether or not to take part, it is important for you to understand why the research is being done and what it will involve. Please take time to read the following information carefully</em></p>

<h3><strong>What is the purpose of the study?</strong></h3>
<p>The MIMIC platform&nbsp; provides web-based machine listening and machine learning tools. We are conducting surveys with potential or active users with regards to their experiences of the platform, and or using such techniques in their practise. This allows us to better understand how the tools can be developed and presented to musicians, educators and beyond.</p>

<h3><strong>Why have I been invited to participate?</strong></h3>
<p>You have been invited to participate in this study as a learner on the UAL CCI Machine Learning FutureLearn course. You will complete this survey along with many other users.</p>

<h3><strong>Do I have to take part?&nbsp; </strong></h3>
<p><em>It&nbsp; is entirely up to you to decide whether or not to take part. If you decide to do so, and if you want to you can download this information sheet</em></p>
<p><em>&nbsp;</em></p>
<p><strong>Can I withdraw from the study?</strong></p>
<p><em>You can withdraw from the study at any time without giving a reason. If you request, any data collected up to the point of withdrawal will be destroyed. </em></p>

<h3><strong>What will happen if I take part?</strong></h3>
<p>We will ask you a number of questions regarding your knowledge of and reasoning about machine learning. All will be scenarios you may have encountered in videos or written content up until this point.</p>

<p>Questions will be filled out via a quiz on the FutureLearn site.</p>

<h3><strong>What are the possible disadvantages and risks of taking part? </strong></h3>
<p>We are committed to keeping your contributions anonymous, as such we have a clear and strong data policy which is listed below.</p>

<h3><strong>What are the possible benefits of taking part?</strong></h3>
<p>As participants completing surveys or interviews are the target users of the platform itself, any feedback or evaluation will directly influence the development of the site and our understanding of how best to support their creative and learning needs.</p>

<h3><strong>Will what I say in this study be kept confidential?</strong></h3>
<p>All the information that we collect about you during the course of the research will be kept strictly confidential. You will not be able to be identified in any ensuing reports or publications.&nbsp;</p>

<p>Any responses are anonymised and will be stored in secure Goldsmiths online area.</p>
<p>Data will be kept unless you withdraw your consent, which you may do at any time, in which case it will be deleted.</p>
<p><strong>Limits to confidentiality</strong></p>
<p>Confidentiality will be respected subject to legal constraints and professional guidelines.</p>
<p>Please note that assurances on confidentiality will be strictly adhered to unless evidence of wrongdoing or potential harm is uncovered.&nbsp; In such cases Goldsmiths may be obliged to contact relevant statutory bodies or agencies.</p>

<p><strong>What will happen to the results of the research study?</strong></p>
<p>We will publish analysis of interview and survey data in leading conferences and journals in our field. We will not share the raw data.</p>

<h3><strong>Who is organising and funding the research?</strong></h3>
<p>This project is funded by the AHRC and involves researchers from Goldsmiths College, Durham University and the University of Sussex.</p>


<p><strong>What if something goes wrong?</strong></p>
<p>If you have any concerns about your participation or about the study in general, you should first contact any of the lead researchers (listed above).&nbsp; If you feel your complaint has not been satisfactorily handled, you can contact the Chair of the Goldsmiths Research Ethics and Integrity Sub-Committee via Research Services (020 7919 7770, <a href="mailto:reisc@gold.ac.uk">reisc@gold.ac.uk</a>)</p>

<p>&nbsp;Thank you for reading this information sheet and for considering whether to take part in this research study.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Data Protection Privacy Notice</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>The General Data Protection Regulation [GDPR] and Goldsmiths Research: guidelines for participants</strong></p>

<p>Please note that this document does not constitute, and should not be construed as, legal advice.&nbsp; These guidelines are designed to help participants understand their rights under GDPR which came into force on 25 May 2018.</p>


<p><strong>Your rights as a participant (data subject) in this study</strong></p>
<p>The updated data protection regulation is a series of conditions designed to protect an individual's personal data.&nbsp; Not all data collected for research is personal data.&nbsp;</p>

<p>Personal data is data such that a living individual can be identified; collection of personal data is sometimes essential in conducting research and GDPR sets out that data subjects should be treated in a lawful and fair manner and that information about the data processing should be explained clearly and transparently.&nbsp; Some data we might ask to collect falls under the heading of <strong>special categories data</strong>.&nbsp; This type of&nbsp; information includes data about an individual&rsquo;s race; ethnic origin; politics; religion; trade union membership; genetics; biometrics (where used for ID purposes); health; sex life; or sexual orientation.&nbsp;&nbsp; This data requires particular care.</p>

<p>Under GDPR you have the following rights over your personal data<a href="#_ftn1" name="_ftnref1">[1]</a>:<br /> </p>
<ul>
<li><strong><em>The right to be informed</em></strong>. You must be informed if your personal data is being used.</li>
<li><strong><em>The right of access</em></strong>. You can ask for a copy of your data by making a &lsquo;subject access request&rsquo;.</li>
<li><strong><em>The right to rectification.</em></strong> You can ask for your data held to be corrected.</li>
<li><strong><em>The right to erasure</em></strong>. You can ask for your data to be deleted.</li>
<li><strong><em>The right to restrict processing</em></strong>. You can limit the way an organisation uses your personal data if you are concerned about the accuracy of the data or how it is being used.</li>
<li><strong><em>The right to data portability</em></strong>. You have the right to get your personal data from an organisation in a way that is accessible and machine-readable.&nbsp; You also have the right to ask an organisation to transfer your data to another organisation.</li>
<li><strong><em>The right to object</em></strong>. You have the right to object to the use of your personal data in some circumstances. You have an absolute right to object to an organisation using your data for direct marketing.</li>
<li><strong><em>How your data is processed using automated decision making and profiling</em></strong>. You have the right not to be subject to a decision that is based solely on automated processing if the decision affects your legal rights or other equally important matters; to understand the reasons behind decisions made about you by automated processing and the possible consequences of the decisions, andto object to profiling in certain situations, including for direct marketing purposes.</li>
</ul>

<p>Please note that these rights are not absolute and only apply in certain circumstances.&nbsp; You should also be informed how long your data will be retained and who it might be shared with.</p>


<p><strong>How does Goldsmiths treat my contribution to this study?</strong></p>
<p>Your participation in this research is very valuable and any personal data you provide will be treated in confidence using the best technical means available to us.&nbsp; The university's legal basis for processing your data<a href="#_ftn2" name="_ftnref2">[2]</a> as part of our research findings is a "task carried out in the public interest".&nbsp; This means that our research is designed to improve the health, happiness and well-being of society and to help us better understand the world we live in.&nbsp; It is not going to be used for marketing or commercial purposes.</p>

<p>In addition to our legal basis under Article 6 (as described above), for <strong>special categories data</strong> as defined under Article 9 of GDPR, our condition for processing is that it is &ldquo;necessary for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes&rdquo;.<a href="#_ftn3" name="_ftnref3">[3]</a></p>
<p><em>&nbsp;</em></p>
<p>If your data contributes to data from a group then your ability to remove data may be limited as the study progresses, when removal of your data may cause damage to the dataset.</p>



<p><strong>You should also know that you may contact any of the following people if you are unhappy about the way your data or your participation in this study are being treated:&nbsp; </strong></p>
<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
<ul>
<li>Chair, Goldsmiths Research Ethics and Integrity Sub-Committee - via <a href="mailto:reisc@gold.ac.uk">reisc@gold.ac.uk</a>, REISC Secretary (for any other element of the study).</li>
<li>You also have the right to lodge a complaint with the Information Commissioner&rsquo;s Office at <a href="https://ico.org.uk/make-a-complaint/">https://ico.org.uk/make-a-complaint/</a></li>
</ul>




<p><em>This information has been provided by the Research Ethics and Integrity Sub-Committee with advice from the Research Services and Governance and Legal Teams.</em></p>
<p><em>Version: 13 August 2018</em></p>
<p><strong><br /> </strong></p>
<p><strong>&nbsp;</strong></p>


<p><a href="#_ftnref1" name="_ftn1">[1]</a> https://ico.org.uk/your-data-matters/</p>
<p><a href="#_ftnref2" name="_ftn2">[2]</a> GDPR Article 6; the six lawful bases for processing data are explained here: https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/</p>
<p><a href="#_ftnref3" name="_ftn3">[3]</a> Article 9 of the GDPR requires this type of data to be treated with great care because of the more significant risks to a person&rsquo;s fundamental rights and freedoms that mishandling might cause, eg, by putting them at risk of unlawful discrimination.</p>

</div>
