

<div id = "example-container" class = "row">
  <h2>Example Inputs</h2>
  <p class = "tutorial-text">
  When building your own interactive systems using machine learning, or a dataset for any purpose, you'll need get some inputs from the world.
  </p>
  <p class = "tutorial-text">
  Below we have a whole collection of Javascript example projects, showing you how to use feature extractors in the browser to build datasets and models using the Learner.js library. For information, <a href = "https://mimicproject.com/guides/learner">check out this guide</a> or investigate some of the projects below.
  </p>
  {{#each examples as |category index|}}
    <h1>{{category.title}}</h1>
    <div class = "row">
    {{#each category.docs as |example|}}
      {{example-tile onClick = (action 'onClick' example) example = example index = index}}
    {{/each}}
  </div>
  {{/each}}
</div>
