<h1>Supervised Learning</h1>
<img src = {{supervisedLearningURL}} style = "display: block;width:500px;margin:auto;padding:20px;"/>

<h1>Why in a Browser?</h1>
<p class = "tutorial-text">
<ul>
  <li>
    Works (almost) everywhere, no installations (I’m looking at you, Python)
  </li>
  <li>
    Good for dissemination
  </li>
  <li>
    Lots of students taught Javascript (CS, creative computing)
  </li>
  <li>
    Javascript is fast growing, low barrier to entry
  </li>
</ul>
</p>
<h1>Requirements For Machine Learnt Mappings in the Browser</h1>
<p class = "tutorial-text">
<ul>
  <li>
    Connect a variety of inputs (video, audio, sensors etc….)
  </li>
  <li>
    Run a variety of outputs (music, graphics etc…)
  </li>
  <li>
    Record input values, alongside output parameters in a dataset, persisted
  </li>
  <li>
    Train a model (regression or classification)
  </li>
  <li>
    Run inference (generate new outputs from new inputs)
  </li>
  <li>
    All in realtime without interference / crackling, timing issues (I’m looking at you, ScriptProcessorNode)
  </li>
</ul>
</p>

<h1> The Solution </h1>
<h3> MIMICproject.com </h3>
<p class = "tutorial-text">
  <ul>
    <li>Run and share projects easily in the browser</li>
    <li>Loads of learning resources</li>
    <li>Integrated libraries</li>
  </ul>
</p>
<h3> Learner.js </h3>
<p class = "tutorial-text">
  <ul>
    <li>Built on top of RapidLib.js</li>
    <li>Provides UI common to most tasks</li>
    <li>Saves dataset in browser cache, can also save/load datasets easily</li>
    <li>Learning happens on worker threads</li>
  </ul>
</p>

<h3> MaxiInstruments </h3>
<p class = "tutorial-text">
  <ul>
    <li>Synthesiser and Sampler running on AudioWorklets </li>
    <li>Built on top on newest version of maximilian.js</li>
    <li>GUI interfaces provided</li>
    <li>Easily combined with Learner.js</li>
  </ul>


</p>

{{embedded-project docId = "194ffa89-eb42-65b8-ce5b-20b6d44ad3a1" height = "350px"}}

{{embedded-project docId = "65b043bc-75e9-afcf-738b-204e8d7bb646" height = "600px"}}

<h1> The Links </h1>
<h1> https://mimicproject.com </h1>
<h1> https://mimicproject.com/guides/learner </h1>
<h1> https://mimicproject.com/guides/maxi-instrument </h1>
