<div id = "example-container" class = "row">
  <h2>Example Outputs</h2>
  <p class = "tutorial-text">
  The best part of building musical machine learning systems is, well, the music!
  </p>
  <p class = "tutorial-text">
  Below we have a whole collection of Javascript example projects showing you how you can control your musical projects using models trained with the the Learner.js library. For more information, <a href = "https://mimicproject.com/guides/learner">check out this guide</a> or investigate some of the projects below. For more on the MaxiInstruments library <a href = "https://mimicproject.com/guides/maxi-instrument">check out this guide</a>.
  </p>
  {{#each examples as |category index|}}
    <h1>{{category.title}}</h1>
    <div class = "row">
    {{#each category.docs as |example|}}
      {{example-tile onClick = (action 'onClick' example) example = example index = index}}
    {{/each}}
  </div>
  {{/each}}
</div>
