.main-delete-button {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

#code-name-label {
  color:black;
  width:100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center
}

.document-link {
  color:black;
  font-family: 'muli';
}

.btn-confirm {
  margin:10px 10px 10px 10px;
}

.navbar-right {
  margin:10px 10px 10px 10px;
}

#mimic-navbar {
 padding-bottom:30px;
}

#create-doc-placeholder
{
  width:100%;
  height:70px;
}

#doc-create-container {
  width:100%;
}

#docName {
  border-color:black;
  height:35px;
  margin:10px;
  width:100%;
  overflow:hidden;
}

#create-btn-container {
  padding-right: 2px !important;
}

input[id="docName"]::-webkit-input-placeholder {
   color:black;
   padding-left:10px;
}

input[id="docName"]:-moz-placeholder { /* Firefox 18- */
   color:black;
   padding-left:10px;
}

input[id="docName"]::-moz-placeholder {  /* Firefox 19+ */
   color:black;
   padding-left:10px;
}

input[id="docName"]:-ms-input-placeholder {
   color:black;
   padding-left:10px;
}

#private-btn {
  background-color: white;
  color:black;
  border-color: black;
  border-width: 2px;
  border-radius: 0;
  width:70px;
  height:35px;
  margin:10px;
  float:right;
}

#create-doc-btn {
  border:none;
  color:black;
  background-color: darkgray;
  margin:10px;
  width:60px;
  height:35px;
  float:right;
}

.document-list-col {
  height: 60px;
}

.document-list-item {
  padding:4px 4px 4px 4px;
  background-color: lightgray;
  height:90%;
  margin: 10px 10px 10px 10px;
}

.filter-col {
  height: 25vh;
}

#filter3.filter-item {
  background-color: #FFCC02;
}

#filter2.filter-item {
  background-color: #3929B8;
}

#filter1.filter-item {
  background-color: #07802A;
}

#filter0.filter-item {
  background-color: #F54B32;
}

#filter5.filter-item {
  background-color: #07802A;
}

#filter4.filter-item {
  background-color: #F54B32;
}

.a {
  font-family: 'muli'!important;
}

.p {
  font-family: 'muli'!important;
}

.html {
  font-family: 'muli' !important;
}

.filter-item {
  padding:10px 10px 10px 10px;
  height:90%;
  margin: 10px 10px 10px 10px;
  cursor:pointer;
  font-size: 18px;
  font-family: 'muli';
  font-weight: bold;
}

.filter-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
}

.file-upload {
  padding:4px 4px 4px 4px;
  margin: 10px 10px 10px 10px;
}

.hide-code-btn {
  position:absolute;
  display:inline-block;
  top: 0;
  left: 0;
  height:2em;
  width: 2em;
  z-index: 20;
}

#drag-button {
  position:absolute;
  top: 40;
  left: 10;
  z-index: 20;
  height:100%;
  width:10px;
  opacity:0.0;
  cursor:col-resize;
  background-color:white;
  pointer-events: auto;
}

#add-file-button {
  width: 50px;
  padding:1px 1px 1px 1px;
  border-radius: 5px;
  border-color: lightgray;
  border-width: thin;
  border-style: solid;
  height: 35px;
  display: inline-block;
  position:relative;
}

.tab-item {
  padding:1px 1px 1px 1px;
  border-radius: 5px;
  border-color: lightgray;
  border-width: thin;
  border-style: solid;
  height: 35px;
  display: inline-block;
  position:relative;
}

.tab-btn {
  border-style: none;
  position:relative;
  float:left;
  height:30px ! important;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

.tab-delete-btn {
  border-style: none;
  width:30px;
  height:30px;
  position:relative;
  float:right;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

.project-tabs {
  max-height: 55px;
  overflow-x: auto;
  overflow-y: hidden;
}

.editor-container {
}

.main-site-container {
  padding-left: 15%;
  padding-right: 15%;
}

#main-code-container {
  left:0px;
  width:100%;
  height:60vh;
  display:inline-block;
  position:relative;
  overflow:hidden;
}

.output-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
}

#output-iframe {
  width:100%;
  height:100%;
}

.ace-container {
  top: 0;
  right: 0;
  opacity:0.9;
  z-index: 10;
  width: 70vw;
  /* max-width: 90vw;
  min-width: 40vw; */
  position: absolute;
  padding-left: 2em;
  height: 100%;
  overflow-x: visible;
  overflow-y: scroll;
}

.doc-title {
  padding:4px 4px 4px 4px  !important;
  margin: 1px 1px 1px 1px;
}

#console {
  width:100%;
  display:block;
}

.asset-token {
  display: inline;
  padding:4px 4px 4px 4px;
  border-radius: 2px;
  border-width: 1px;
  border-color: black;
  background-color: lightgray;
  margin: 10px 10px 0px 0px;
}

.uncharted-token-label {
  float:left;
  padding:4px 4px 4px 4px;
  border-radius: 2px;
  border-width: 1px;
  border-color: black;
  background-color: lightgray;
  margin: 10px 10px 0px 0px;
}

.uncharted-token-container {
  margin: 10px 10px 10px 10px;
  background-color: white;
}

.preview-image {
  display: block;
  max-width:90vw;
  max-height:60vh;
  width: auto;
  height: auto;
}

.preview-video {
  display: block;
  max-width:90vw;
  max-height:60vh;
  width: auto;
  height: auto;
}

.main-logo {
  width: 250px;
  height: 150px;
  background-position: center center;
  overflow: hidden;
  display:block;
  margin:auto
}

.main-logo img {
  min-height: 100%;
   min-width: 100%;
   /* IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   /* IE 5-7 */
   filter: alpha(opacity=0);
   /* modern browsers */
   opacity: 0;
}

.nav-link {
  color:black;
  font-weight: bold;
}

#signed-in-link {
  color:black;
  font-weight: bold;
}

#signed-in-label {
  position:absolute;
  color:black;
  right:0px;
  top:-12px;
}

#my-docs {
  color:black;
}

#login-button {
  background-color: transparent;
  color:black;
  font-weight: bold;
  float:right ! important;
}

#logout-button {
  position:absolute;
  right:0px;
  top:10px;
  background-color: transparent;
  color:black;
  border:none;
  font-weight: bold;
}


input[id="searchTerm"]::-webkit-input-placeholder {
   text-align: right;
   padding-right: 20px;
   color:white;
}

input[id="searchTerm"]:-moz-placeholder { /* Firefox 18- */
   text-align: right;
   padding-right: 20px;
   color:white;
}

input[id="searchTerm"]::-moz-placeholder {  /* Firefox 19+ */
   text-align: right;
   padding-right: 20px;
   color:white;
}

input[id="searchTerm"]:-ms-input-placeholder {
   text-align: right;
   padding-right: 20px;
   color:white;
}

#searchTerm {
  width: 67vw;
  box-sizing: border-box;
  height:50px;
  text-align: center;
  background-color: black;
  color: white;
  border:none;
}

#doc-name-input {
  background-color:#777;
  color:white;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: .25em;
  font-size: 100%;
  height:50px;
}

.uncharted-token-input {
  padding-left:10px;
  margin: 10px 10px 0px 0px;
  border-color: white;
  width:100%
}

.uncharted-token-label:hover{
  background-color: yellow;
}

.inline-view {
  display: inline;
}

.uncharted-token-label:focus{
  background-color: blue;
}

.container {
  background-color:rgb(255,255,255);
}

.file-upload-container {
  width:100%;
  border-radius: 2;
  border-width: 5;
  border-color: black;
}

.settings {
  display:inline;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1 !important;
  z-index: 0;
}

.tooltiptext {
  opacity: 0;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#asset-progress {
  display: none;
  background-color: yellow;
  height:15px;
}
