.uncharted-token-label {
  float:left;
  padding:4px 4px 4px 4px;
  border-radius: 2px;
  border-width: 1px;
  border-color: black;
  background-color: lightgray;
  margin: 10px 10px 0px 0px;
}

.document-link {
  color:white;
}

.document-list-item {
  padding:4px 4px 4px 4px;
  border-radius: 5px;
  background-color: #416FE8;
  margin: 10px 10px 10px 10px;
  height: 100px;
}

.file-upload {
  padding:4px 4px 4px 4px;
  margin: 10px 10px 10px 10px;
}

.output {
  float:left;
  width:50%;
  height:300px
}

.ace-container {
  display:inline;
  width:50%;
}

.ace-editor {
  display:inline;
  min-width:50% !important;
}

.ace-content {
  display:inline;
  width:50%;
}

.asset-token {
  display: inline;
  padding:4px 4px 4px 4px;
  border-radius: 2px;
  border-width: 1px;
  border-color: black;
  background-color: lightgray;
  margin: 10px 10px 0px 0px;
}

.uncharted-token-container {
  margin: 10px 10px 10px 10px;
  background-color: white;
}

#searchTerm {
  width:100%;
  height:50px;
  text-align: center;
}

.uncharted-token-input {
  padding-left:10px;
  margin: 10px 10px 0px 0px;
  border-color: white;
  width:100%
}

.uncharted-token-label:hover{
    background-color: yellow;
}

.uncharted-token-label:focus{
    background-color: blue;
}

.container {
  background-color:rgb(255,255,255);
}

.file-upload-container {
  width:100%;
  border-radius: 2;
  border-width: 5;
  border-color: black;
}
