
.main-delete-button {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.a {
  font-family: 'muli' ! important;
}

.p {
  font-family: 'muli' ! important;
  color:white;
}

.html {
  font-family: 'muli' ! important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center
}

.document-link {
  color:black;
  float:left;
  font-family: 'muli';
  font-size: 14px;
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
}

.document-name-link {
  color:black;
  font-family: 'muli';
  font-size: 14px;
  padding-top: 50px;
}

.doc-list-icon-container
{
  display: inline;
  margin-left:15px;
  float:right;
}

.doc-list-name-container
{
  display: inline;
  margin-left:4px;
}

.document-list-col {
  height: 60px;
  margin-top:10px;
  padding-left: 10px;
}

.document-list-item {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: #CCCBCB;
  height:90%;
  width:auto;
  margin: 10px 10px 10px 10px;
}

.navbar-right {
  margin:10px 10px 10px 10px;
}

#mimic-navbar {
 padding-top:30px;
 padding-bottom:30px;
}

#create-doc-placeholder
{
  width:100%;
  height:70px;
}

#doc-create-container {
  width:100%;
}

#create-doc-name {
  border-color:black;
  height:35px;
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  overflow:hidden;
  font-size:18px;
  font-family: 'muli';
  padding-left:20px;
  color:black;
}

#create-doc-form-container {
  padding-right: 2px ! important;
  padding-left: 2px ! important;
}

#create-doc-btn-container {
  padding-right: 2px ! important;
  padding-left: 2px ! important;
}

input[id="docName"]::-webkit-input-placeholder {
   color:black;
   padding-left:10px;
}

input[id="docName"]:-moz-placeholder { /* Firefox 18- */
   color:black;
   padding-left:10px;
}

input[id="docName"]::-moz-placeholder {  /* Firefox 19+ */
   color:black;
   padding-left:10px;
}

input[id="docName"]:-ms-input-placeholder {
   color:black;
   padding-left:10px;
}

#private-btn {
  background-color: white;
  color:black;
  border-color: black;
  border-width: 2px;
  border-radius: 0;
  width:70px;
  height:35px;
  margin-top:10px;
  margin-bottom:10px;
  margin-right: 5px;
  float:right;
}

#create-doc-btn {
  border:none;
  color:black;
  background-color: darkgray;
  margin-top:10px;
  margin-bottom:10px;
  width:60px;
  height:35px;
  float:right;
}



.flexrow {
  display: flex;
  background: lightgray; /*for debug*/
}
.flexrow > * {
  flex: 1;
  margin: 1em;
  outline: auto green;
}

#filter-container {
  padding-bottom: 20px;
}

.sortByForked {
  background-color: #FFCC02;
}

.sortByRecent {
  background-color: #F54B32;
}

.sortByUpdated {
  background-color: #07802A;
}

.sortByEditted {
  background-color: #F54B32;
}

.sortByPopular {
  background-color: #07802A;
}

#filter-row {
  padding-bottom: 20px;
}

.filter-col-xs {
  width: 50%;
}

.filter-col-sm {
  width: 33%;
}

.filter-col-md {
  width: 25%;
}

.filter-col-lg {
  width: 20%;
}

.filter-col {
  min-width: 125px;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.filter-col:after {
  padding-top: 67.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.filter-item {
  padding:10px 10px 10px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin:10px;
  cursor:pointer;
  font-size: 14px;
  font-family: 'muli';
  font-weight: bold;
  overflow: hidden;
}

.filter-text {
  position: relative;
  color: black;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
}

.load-more-item {
  background-color: lightgray;
}

.tag-item {
  background-color: #3929B8;
  color:white ! important;
}

.filter-text-tag-item {
  color:white ! important;
}

.hide-code-btn {
  position:absolute;
  display:inline-block;
  top: 0;
  left: 0;
  height:2em;
  width: 2em;
  z-index: 20;
}

#tab0.tab-item {
  background-color: #F54B32;
}

#tab1.tab-item {
  background-color: #07802A;
}

#tab2.tab-item {
  background-color: #3929B8;
}

#tab3.tab-item {
  background-color: #FFCC02;
}

.tab-btn:hover {
  background-color: transparent ! important;
  border:none ! important;
  outline: none ! important;
}

.tab-btn:focus {
  background-color: transparent ! important;
  border:none ! important;
  outline: none ! important;
}

.tab-btn:active {
  background-color: transparent ! important;
  border:none ! important;
  outline: none ! important;
}

.tab-item {
  padding:1px 1px 1px 1px;
  border-style:none;
  height:35px;
  width:130px;
}

.tab-btn {
  display:inline;
  border-style: none;
  font-family: "muli";
  width:90px;
  text-overflow: ellipsis;
  overflow: hidden;
  height:100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

.tab-delete-btn {
  float:right;
  display:inline;
  border-style: none;
  width:30px;
  text-align: center;
  background-color: transparent;
}

.tab-delete-btn:hover {
  background-color: transparent;
  border-color: white;
  border-width: thin;
}

#project-tabs {
  max-height: 55px;
  float:right;
  width:30%;
  overflow-x:auto;
  overflow-y:hidden;
}

.editor-container {
  position:relative;
  display: block;
  overflow-y:visible;
}

#main-site-container {
  padding-left: 8% ! important;
  padding-right: 8% ! important;
  padding-bottom: 25px;
}

#main-code-container {
  left:0px;
  width:100%;
  height:60vh;
  display:inline-block;
  position:relative;
  overflow-x:hidden;
  overflow-y:visible;
}

.output-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
}

#output-iframe {
  width:100%;
  height:100%;
  background-color: white;
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
    background-color: white;
}

.ace-container {
  top: 0;
  right: 0;
  opacity:0.9;
  z-index: 10;
  width: 70vw;
  position: absolute;
  padding-left: 2em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#drag-button {
  position:absolute;
  top: 40;
  right: 50vw;
  z-index: 20;
  height:100%;
  width:10px;
  opacity:0.0;
  cursor:col-resize;
  background-color:red;
  pointer-events: auto;
}

#playback-container {
  float:left;
  width:300px;
  height:100%;
  transform: translateY(-50%);
  overflow: visible;
}

.transport-btn
{
  width:40px !important;
  height:40px !important;
  padding:0;
  margin:0;
}

.glyphicon.glyphicon-share,
.glyphicon.glyphicon-file,
.glyphicon.glyphicon-download-alt,
.glyphicon.glyphicon-fullscreen {
    font-size: 25px;
}

#code-delete-btn:first-child {
  font-size: 25px;
}

#code-play-btn:first-child {
  font-size: 25px;
}

.clear-btn
{
  width:40px;
  border:none;
  background-color:transparent;
  color:white;
  height:30px;
}

#zoom-container {
  float:right;
  width:auto;
  padding-right: 30px;
  height:100%;
  transform: translateY(20%);
}

#code-transport-container {
  top:0px;
  width: 100%;
  height: 50px;
  background-color: black;
  z-index: 1;
  display:none;
  overflow: visible;
}

#code-transport-tracking-area {
  position: absolute;
  top:0px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 1;
}

#doc-title-container {
  background-color: darkgray;
  height:80px;
}

#doc-title {
  color:black;
  background-color:transparent;
  font-family: "muli";
  float:left;
  position: absolute;
  font-size: 20px;
  width:25vw;
  height:50px;
  text-align: left;
  transform: translateY(50%);
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-dialog {
  background-color: #3929B8;
  color:white;
  z-index: 2000;
}

.modal-content {
  background-color: #3929B8;
  color:white;
  z-index: 2000;
}

#share-modal {
  background-color: #3929B8;
  color:white;
  font-family: 'muli';
  z-index: 2000;
}

.link-input {
  color:black;
  font-family: 'muli';
}

.btn-primary {
  background-color: transparent;
  border:none;
}

#doc-name-input {
  background-color:transparent;
  color:black;
  position: absolute;
  float:left;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: .25em;
  font-size: 20px;
  height:50px;
  font-family: "muli";
  width:25vw;
  transform: translateY(50%);
}

#autoRenderCheckbox
{
  font-family: 'muli';
  color:white;
}

#render-doc {
  display:inline-block;
  position: absolute;
  top:20px;
  right:235px;
  width:150px;
  height:100%;
}

#fork-flag {

}

#transport-container {
  position:absolute;
  right:5px;
  top: 0%;
  height: 80px;
  margin-top: 20px;
}

#doc-controls-container {
  float:right;
  display:inline;
  position: relative;
  width:40vw;
  display:table;
}

#main-document-container {
  display: block;
}

#document-container {
  margin-top: 0px;
}

#page-nav-container {
  margin: 20px;
}

#next-page-btn{
  float: right;
}

#prev-page-btn{
  float: left;
}

.clear-text-btn {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-radius: 4px;
  color:white;
  font-family: 'muli';
  height:20px;
  font-size: 12px;
  padding-top: 0px;
  margin-bottom: 10px;
  padding-left:2px;
  padding-right:2px;
  width:50px;
}

#console {
  width:100%;
  display:block;
}

.asset-token {
  display: inline;
  padding:4px 4px 4px 4px;
  border-radius: 2px;
  border-width: 1px;
  height:35px;
  border-color: darkgray;
  background-color: lightgray;
  margin: 10px 10px 0px 0px;
}

.add-file-button {
  width: 50px;
  padding:1px 1px 1px 1px;
  border-style: none ! important;
  height: 35px;
  background-color: transparent ! important;
  display: inline-block;
  position:relative;
}

.tag-delete-btn {
  float:right;
  display:inline;
  border-style: none;
  width:30px;
  height:20px;
  font-size: 10px;
  text-align: center;
  padding-top:3px;
  margin-left:10px;
  margin-right:0px;
  color:#999999;
  text-align: center;
  background-color: transparent;
}

.tag-delete-btn:hover {
  background-color: transparent;
  border-color: white;
  border-width: thin;
}

.uncharted-token-input {
  padding-left:10px;
  margin: 10px 10px 10px 10px;
  border-color: white;
  width:90%;
  background-color: white;
  position:relative;
}

.uncharted-token-label:hover{
  background-color: white;
}

.inline-view {
  display: inline;
}

.uncharted-token-label:focus{
  background-color: blue;
}

.uncharted-token-label {
  float:left;
  padding:4px 4px 4px 4px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #b3b3b3;
  color: #999999;
  background-color: transparent;
  margin-top: 2px;
  margin-left:3px;
  margin-bottom: 2px;
}

.uncharted-token-main-container {
  background-color: #e6e6e6;
  height:auto;
}

.uncharted-token-container {
  background-color: #e6e6e6;
  height:35px;
}

#add-tag.add-file-button
{
  background-color: lightgray;
  margin-top: 0px;
  margin-bottom: 0px;
}

.preview-image {
  display: block;
  max-width:90vw;
  max-height:60vh;
  width: auto;
  height: auto;
}

.preview-video {
  display: block;
  max-width:90vw;
  max-height:60vh;
  width: auto;
  height: auto;
}

.main-logo {
  width:185px;
  height:auto;
  background-position: center center;
  overflow: hidden;
  display:block;
  margin:auto;
  padding-bottom:5px;
}

.nav-link:focus {
  color: black  ! important;
  background-color: lightgray ! important;
}

.nav-link:hover {
  color: black  ! important;
  background-color: lightgray ! important;
}

.nav-link:active {
  color: black  ! important;
  background-color: lightgray ! important;
}

.nav-item:focus {
  color: black  ! important;
  background-color: lightgray ! important;
}

.nav-item:hover {
  color: black  ! important;
  background-color: lightgray ! important;
}

.nav-item:active {
  color: black  ! important;
  background-color: lightgray ! important;
}

.nav-link {
  color:black;
  font-weight: bold;
  font-size: 14px;
}

#signed-in-link {
  color:black;
  font-weight: bold;
}

#signed-in-label {
  position:absolute;
  color:black;
  right:0px;
  top:-12px;
}

#my-docs {
  color:black;
}

#login-button {
  background-color: transparent;
  color:black;
  font-weight: bold;
  float:right ! important;
}

#logout-button {
  position:absolute;
  right:0px;
  top:10px;
  background-color: transparent;
  color:black;
  border:none;
  font-weight: bold;
}

.row {
  margin-left: 0px ! important;
  margin-right: 0px ! important;
}

input[id="searchTerm"]::-webkit-input-placeholder {
   text-align: right;
   padding-right: 20px;
   color:white;
   font-family: "muli";
   font-size: 18px;
 }

input[id="searchTerm"]:-moz-placeholder { /* Firefox 18- */
   text-align: right;
   padding-right: 20px;
   color:white;
   font-family: "muli";
   font-size: 18px;
   opacity:1;
}

input[id="searchTerm"]::-moz-placeholder {  /* Firefox 19+ */
   text-align: right;
   padding-right: 20px;
   color:white;
   font-family: "muli";
   font-size: 18px;
   opacity:1;
}

input[id="searchTerm"]:-ms-input-placeholder {
   text-align: right;
   padding-right: 20px;
   color:white;
   font-family: "muli";
   font-size: 18px;
}

#searchTerm {
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
  height:50px;
  text-align: center;
  background-color: black;
  color: white;
  border:none;
  font-family: "muli";
  font-size: 18px;
  margin-bottom: 20px;
}

.container {
  background-color:rgb(255,255,255);
}

.file-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width:100px;
  display:inline;
}

.file-upload {
  background-color: transparent;
  color:white;
  padding:4px 4px 4px 4px;
  margin: 10px 10px 10px 10px;
}

.asset-container {
  width:200px;
}

#asset-progress {
  display: none;
  background-color: yellow;
  height:15px;
}

.preview-asset-btn {
  position: relative;
  display:inline;
}

.delete-asset-btn {
  display:inline;
  position: relative;
}

.file-text {
  font-family: 'muli';
  color:white;
  padding-left:10px;
}

#uploaded-assets-container {
  overflow-x:auto;
  overflow-y:hidden;
  max-height:40px;
  width:40vw;
  padding-bottom: 10px;
}

.file-upload-container {
  width:40vw;
  background-color: #3929B8;
  border-radius: 2;
  border-width: 5;
  border-color: black;
  float:right;
  clear:right;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1 !important;
  z-index:500!important;
}

.tooltiptext {
  opacity: 0;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
